.card-grid {
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-rows: repeat(auto-fill, auto);
    /* grid-auto-rows: 1fr; */
    gap: 0.5rem;
}
