.card-grid {
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-rows: auto;
    gap: 0.5rem;
}
