.button {
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 1rem;
	padding: 0.5em 1em;
	background-color: rgb(220, 220, 220);
	color: black;
	transition: opacity 0.1s ease, transform 0.1s ease;
}
.button:disabled {
	opacity: 0.5;
}

.button:not(:disabled) {
	cursor: pointer;
}

@media (hover: hover) {
	.button:not(:disabled):hover {
		opacity: 0.9;
		transform: scale(1.05);
	}
}
@media (prefers-color-scheme: dark) {
	.button {
		background-color: rgb(75, 75, 75);
		color: rgb(245, 245, 245);
	}
}
