.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: baseline;
    grid-template-areas: 'title' 'language' 'description';
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    gap: 1rem 0.5rem;
}

.title {
    grid-area: title;
    font-size: 1rem;
}

.language {
    grid-area: language;
    font-style: italic;
}

.description {
    grid-area: description;
    font-size: 0.8rem;
    line-height: 160%;
}

@media only screen and (min-width: 700px) {
    .container {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'title language' 'description description';
    }
}
