.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  font-size: 0.8rem;
  min-width: 30ch;
  min-height: 8rem;
  background-color: var(--translucent);
}
.top,
.bottom {
  width: 100%;
}

.top {
  height: auto;
}

.bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.language {
  text-transform: lowercase;
}

.description {
  line-height: 160%;
  margin-bottom: 0.5rem;
}
