.container {
  position: fixed;
  width: auto;
  height: auto;
  padding: 1rem;
  z-index: 100;
}

.container.hidden {
  visibility: hidden;
}

.link {
  font-weight: 600;
  text-transform: lowercase;
}

.link.disabled {
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

.projects {
  top: 0;
  right: 0;
}

.contact {
  left: 0;
  top: 0;
}

.start {
  bottom: 0;
  right: 0;
}
