---
import Navigation from '@/components/Navigation.astro';
import Projects from '@/components/Projects.astro';
import Contact from '@/components/Contact.astro';
import Start from '@/components/Start.astro';

import '@/styles/global.css';

const title = 'sjogren.dev';

const keywords = [
  'Vincent Sjögren',
  'Vincent',
  'Sjögren',
  'Developer',
  'Front-end',
  'Frontend',
  'Javascript',
  'React',
  'Astro',
  'Three.js',
  'Stockholm',
  'Sweden',
];
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'
    />
    <meta name='keywords' content={keywords.join(', ')} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Navigation />
    <main>
      <Start />
      <Projects />
      <Contact />
    </main>
  </body>
  <script>
    document.documentElement.setAttribute('data-loaded', 'true');

    import('ua-parser-js')
      .then(({ UAParser }) => {
        const deviceType = UAParser().device.type;
        if (deviceType) {
          // Set a data attribute on the HTML element to indicate the device type
          // This can be used for styling or functionality based on device type
          document.documentElement.setAttribute('data-device-type', deviceType);
        }
      })
      .catch((error) => {
        if (import.meta.env.DEV) {
          console.error('Error loading UAParser:', error);
        }
      });
  </script>
</html>
