---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  /**
   * @default target === '_blank' ? 'noreferrer noopener' : undefined
   */
  rel?: HTMLAttributes<'a'>['rel'];
}

const {
  target,
  rel,
  'class:list': classList,
  class: className,
  ...restProps
} = Astro.props;
---

<style>
  .link {
    text-decoration: underline solid transparent;
    transition: text-decoration-color 0.2s ease-in-out;
  }

  .link:hover {
    text-decoration-color: inherit;
  }
</style>
<a
  target={target}
  rel={target === '_blank' ? 'noreferrer noopener' : rel}
  class:list={[
    'link',
    className,
    ...(Array.isArray(classList) ? classList : [classList]),
  ]}
  {...restProps}
>
  <slot />
</a>
