---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends HTMLAttributes<'section'> {
  id: string;
}

const {
  id,
  class: className,
  'class:list': classList,
  ...restProps
} = Astro.props;
---

<style>
  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--safe-viewport-width);
    min-height: var(--safe-viewport-height);
    padding: 4rem 1rem 1rem 1rem;
    gap: 1.5rem;
  }
</style>

<section
  id={id}
  class:list={[
    'section',
    className,
    ...(Array.isArray(classList) ? classList : [classList]),
  ]}
  {...restProps}
>
  <slot />
</section>
