:root {
    --pink: #fae3da;
    --red: #c8151e;
    --body-bg: var(--pink);
    --text-color: var(--red);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: var(--text-color);
    background-color: var(--body-bg);
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
