@import 'fonts.css';

:root {
    --pink: #fae3da;
    --red: #c8151e;
    --body-bg: var(--pink);
    --text-color: var(--red);
    --main-font: 'Familjen Grotesk', Helvetica, sans-serif;
    --mono-font: 'JetBrains Mono', monospace;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: var(--text-color);
    background-color: var(--body-bg);
    width: 100%;
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

a {
    color: inherit;
    transition: opacity 0.1s ease;
}

code {
    font-family: var(--mono-font);
}

@media (hover: hover) {
    a:hover {
        opacity: 0.8;
    }
}
