.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.caption {
	cursor: default;
	display: inline-block;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 800;
	color: white;
	opacity: 0;
	transition: opacity 3s ease-out, transform 0.2s ease-in-out;
	background-color: transparent;
	text-align: center;
}

.caption.loaded {
	opacity: 1;
	cursor: pointer;
}

@media (hover: hover) {
	.caption:hover {
		transform: scale(1.02);
	}
}

/* @media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
} */
