name: 'run build'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v3
      - name: 'setting up Node@20'
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: 'npm install'
      - run: 'npm run build -- --mode ci'
